<table class="table table-standard table-hover">
  <caption>
    <h3>Teacher list</h3>
  </caption>
  <thead>
    <tr>
      <th>Name</th>

      <th>Email</th>
      <th>Class</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-i="index" let-teacher [ngForOf]="teacherList">
      <tr>
        <td>{{teacher.firstName}} {{teacher.lastName}}</td>
        <td>{{teacher.email}}</td>
        <td>{{teacher.class}}</td>
      </tr>
      <tr colspan="3">
        <img src="{{teacher.profilePicture}}" />
        Phone: {{teacher.phone}}
        Mobile: {{teacher.mobile}}
      </tr>
    </ng-template>
  </tbody>
</table>
