<h2>{{ (formMode === 'add' ? 'Add Teacher' : 'Edit Teacher') }}</h2>

<form #teacherForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="form-group">
    <label for="teacherFirstName" class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="teacherFirstName" name="teacherFirstName" placeholder="First name" required
        [(ngModel)]="teacherData.firstName"
        #firstName="ngModel">
      <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
        First name is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="teacherLastName" class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="teacherLastName" name="teacherLastName" placeholder="Last name" required
        [(ngModel)]="teacherData.lastName"
        #lastName="ngModel">
      <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
        Last name is required
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary">{{ (formMode === 'add' ? 'Add' : 'Save') }}</button>
      <button type="button" class="btn btn-default" (click)="onCancel(confirmCancelModal)">Cancel</button>
    </div>
  </div>
</form>

<template #confirmCancelModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to cancel?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalRef.hide(); router.navigate(['/teacher'])">Yes</button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
  </div>
</template>
